body {
  font-family: "sans-serif";
  height: 100vh;
  margin: 0;
  display: flex;
}

.param_div {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content;
  grid-column-gap: 0.5em;
}

.popup {
  margin: 0.2em;
  position: absolute;
  display: inline-block;
  opacity: 0.7;
}

.popup .popup-content {
  background-color: #fdf6e3;
  color: #657b83;
  visibility: hidden;
  z-index: 1;
  position: absolute;
  border: 1px solid;
  padding: 0.5em;
}

.popup .popup-content div {
  margin-bottom: 1em;
}

.popup .show {
  visibility: visible;
}

#display_canvas_div {
  height: 100%;
  width: 100%;
  display: flex;
}
