body {
  background-color: #fdf6e3;
  color: #657b83;
  font-family: "sans-serif";
}

.param_div {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content;
  grid-column-gap: 0.5em;
}

#display_canvas_div {
  width: 100%;
  height: 100vh;
}

#display_canvas {
  border: 1px solid #657b83;
}
